@import '~styles/variables';
@import '~styles/mixins';

.container {
  @include flex-row;

  margin-bottom: $three-base-margin;
  justify-content: center;

  @include breakpoint(900px) {
    justify-content: space-between;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.column {
  @include flex-gtr-col(1, $base-margin);
  max-width: $text-width;

  @include breakpoint(1px, 899px) {
    &_image {
      order: 1;
    }

    &_info {
      order: 2;
    }
  }

  @include breakpoint(900px) {
    @include flex-gtr-col(2, $base-margin);
  }
}

.inlineLink {
  margin-left: $base-margin;
  display: inline-block;
}

//////////////////////////////////////////////////
/**
* MACBOOK IMAGE
*/
//////////////////////////////////////////////////
.picture {
  display: block;
  width: 100%;
  max-width: 400px;
  position: relative;

  @include breakpoint(1px, 899px) {
    margin: 0 auto;
  }

  @include breakpoint(900px) {
    &_even {
      margin-left: auto;
    }
  }
}

.macbook {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.portfolioImage {
  position: absolute;
  top: 6%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  width: 77%;
  border-radius: 3px;
}

.link {
  @include absolute-center;
}
//////////////////////////////////////////////////
/**
* MACBOOK IMAGE
*/
//////////////////////////////////////////////////
.buttonContainer {
  @include breakpoint(1px, 899px) {
    text-align: center;
  }
}
