@import '~styles/variables';
@import '~styles/colors';
@import '~styles/mixins';

.container {
  @include flex-row;

  justify-content: center;
  border-bottom: 0.1rem solid $grey2;
  padding-bottom: $three-base-margin;

  @include breakpoint(900px) {
    padding-bottom: 0;
    border-bottom: none;
    justify-content: space-between;
    margin-bottom: $five-base-margin;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.column {
  @include flex-gtr-col(1, $base-margin);
  max-width: $text-width;

  @include breakpoint(1px, 899px) {
    &_image {
      order: 1;
    }

    &_info {
      order: 2;
    }
  }

  @include breakpoint(900px) {
    @include flex-gtr-col(2, $base-margin);
  }
}

.heading {
  display: none;

  &_skeleton {
    height: $two-base-margin;
    width: 20rem;
    background: $skeleton-grey;
  }

  @include breakpoint(900px) {
    display: block;
  }
}

.mobileHeading {
  text-align: center;
  margin: $two-base-margin 0 $three-base-margin;

  @include breakpoint(900px) {
    display: none;
  }
}

.inlineLink {
  margin-left: $base-margin;
  display: inline-block;
}

//////////////////////////////////////////////////
/**
* MACBOOK IMAGE
*/
//////////////////////////////////////////////////
.picture {
  display: block;
  width: 100%;
  max-width: 400px;
  position: relative;

  @include breakpoint(1px, 899px) {
    margin: 0 auto;
  }

  @include breakpoint(900px) {
    &_even {
      margin-left: auto;
    }
  }
}

.macbook {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.portfolioImage {
  position: absolute;
  top: 6%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  width: 77%;
  border-radius: 3px;
}

.link {
  @include absolute-center;
}
//////////////////////////////////////////////////
/**
* MACBOOK IMAGE
*/
//////////////////////////////////////////////////
.buttonContainer {
  @include breakpoint(1px, 899px) {
    text-align: center;
  }
}
