{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "root": "'./'",
          "components": "./src/components",
          "hocs": "./src/hocs",
          "styles": "./src/styles",
          "store": "./store",
          "router": "./router",
          "api": "./server/api",
          "utils": "./utils"
        }
      }
    ]
  ]
}
