.container {
  height: 500px;
  width: 100%;
  background: red;
}

.image {
  height: 500px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
