/**
* Gray scales
*/
$grey1: #ebebf0;
$grey2: #c3c3c8;
$grey3: #96969b;
$grey4: #707075;
$grey5: #505055;
$grey6: #323237;
$grey7: #111111;

// Colors
$text-grey: #676d79;
$light-grey: #d4d4d4;
$medium-grey: #737373;
$turquoise: #00a6bf;
$white: #fff;
$green: #27ae60;
$red: #e74c3c;
$orange: #ff9959;
$off-white: #917070;

/* Shadow */
$box-shadow: -1px 0 10px 0 rgba(30, 30, 30, 0.58);

/* Transparent white */
$transparent-white: rgba(255, 255, 255, 0.808);
$gradient-orange: linear-gradient(270deg, #de6262, #ff9959);
$gradient-background: linear-gradient(
  0deg,
  #25689e 20%,
  #466d68 40%,
  #000e3c 70%
);

/* Component and application colors */
$app-background: white;
$link-color: $turquoise;
$button-primary-color: $turquoise;
$button-secondary-color: $orange;

/**
* Component colors 
*/
$page-side-shadow: 0 -150px 30px rgba(0, 0, 0, 0.1);
$grey-modal-overlay: rgba(50, 50, 50, 0.8);
$white-modal-overlay: rgba(255, 255, 255, 0.8);
$skeleton-grey: $grey2;
