@import 'normalize';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

img,
picture {
  transition: opacity 200ms;
}

[class*='lazyload'] {
  opacity: 0;
}

[class*='lazyloaded'] {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  // font-family: $cereal-light;
  background-color: $app-background;
  overflow: hidden;
  color: $text-grey;
  line-height: 2.6rem;
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

ul,
figure,
menu,
ol {
  padding: 0;
  margin: 0;
}

/**
* The :global prefix prevents the css selector
* from being applied withing a css-modules context
*/
:global #__next {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:global #app {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include vp-mobile-only {
    padding-bottom: $mobile-nav-height;
  }
}
