@import 'variables';

//////////////////////////////////////////////////
/**
* Flex grid
*/
//////////////////////////////////////////////////
@mixin breakpoint($min, $max: null) {
  @if $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $min) {
      @content;
    }
  }
}

@mixin vp-mobile-only() {
  @include breakpoint(1px, 767px) {
    @content;
  }
}

@mixin vp-tablet-up() {
  @include breakpoint(768px) {
    @content;
  }
}

//////////////////////////////////////////////////
/**
* Flex grid
*/
//////////////////////////////////////////////////
@mixin flex-row() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flex-gtr-col($columns, $gutter) {
  $percentage: percentage(1 / $columns);
  $width: (($columns - 1) * $gutter) / $columns;
  flex-basis: calc(#{$percentage} - #{$width});
  margin-top: $gutter;
  margin-left: $gutter/2;
  margin-right: $gutter/2;

  @if $columns != 1 {
    &:nth-of-type(#{$columns}n + 1) {
      margin-right: $gutter/2;
      margin-left: 0;
    }
    &:nth-of-type(#{$columns}n + #{$columns}) {
      margin-left: $gutter/2;
      margin-right: 0;
    }
  } @else if $columns == 1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@mixin flex-col($span, $columns, $margin: 0px) {
  $percentage: percentage($span/$columns);
  @if $columns != 1 {
    flex-basis: calc(#{$percentage} - #{$margin});
  } @else {
    flex-basis: calc(#{$percentage});
  }
}

//////////////////////////////////////////////////
/**
*  Wrappers
*/
//////////////////////////////////////////////////
@mixin content() {
  margin: 0 auto;
  width: 100%;
  max-width: $page-max-width;
  padding: 0 $two-base-margin;
}

@mixin entrypoint() {
  flex: 1 0 auto;

  @include breakpoint($md) {
    padding-top: $header-height;
  }
}

@mixin page-heading() {
  text-align: center;
  font-size: $font-size-xl;
  padding: $five-base-margin $two-base-margin $two-base-margin;
  margin: 0 0 $two-base-margin;
  position: relative;

  &:after {
    content: '';
    width: 6rem;
    height: 0.3rem;
    background: $text-grey;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include breakpoint($md) {
    font-size: $font-size-xxxl;
  }
}

//////////////////////////////////////////////////
/**
* Cards
*/
//////////////////////////////////////////////////
@mixin card($padding: 2rem) {
  background-color: $white;
  padding: $padding;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

//////////////////////////////////////////////////
/**
* Images
*/
//////////////////////////////////////////////////
@mixin aspect-ratio-16-9-wrapper() {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

@mixin aspect-ratio-8-5-wrapper() {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 62.5%;
}

//  Used on img element
@mixin aspect-ratio-image() {
  width: 100%;
  display: block;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
}

//////////////////////////////////////////////////
/**
* Positioning
*/
//////////////////////////////////////////////////
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//////////////////////////////////////////////////
/**
* Buttons
*/
//////////////////////////////////////////////////
@mixin buttonColors($backgroundColor, $borderColor, $textColor) {
  background: $backgroundColor;
  border-color: $borderColor;
  color: $textColor;

  .icon {
    fill: $textColor;
    stroke: $textColor;
  }
}
