@import '~styles/colors';
@import '~styles/variables';
@import '~styles/mixins';
@import '~styles/keyframes';

.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: $z-index-three;
  display: none;

  &_hasBeenOpened {
    display: block;
  }

  &_isOpen {
    animation: visibilityVisible 0s ease forwards;
  }

  &_isClosed {
    animation: visibilityHidden 400ms ease forwards;
  }
}

.closeOverlay {
  @include vp-mobile-only {
    display: none;
  }

  @include vp-tablet-up {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transition: opacity 200ms ease;
    padding: 0;
    border: none;
    outline: 0;
    background: $grey-modal-overlay;
    z-index: $z-index-two;

    &_isOpen {
      opacity: 1;
    }
  }
}

.inner {
  position: relative;
  text-align: center;
}

/**
* The Container for the wrapped Modal
*/
.children {
  position: relative;
  display: inline-block;
  text-align: initial;
  left: 0;
  right: 0;
  background: $white;
  max-width: $page-max-width;
  margin: 0 auto;
  z-index: $z-index-three;
  padding: 0 $two-base-margin $two-base-margin;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-fill-mode: forwards;

  &_isOpen {
    animation-duration: 200ms;
    animation-name: modalFadeIn;
  }

  &_isClosed {
    animation-duration: 200ms;
    animation-name: modalFadeOut;
  }

  @include vp-mobile-only {
    min-height: 100vh;

    &_isOpen {
      animation-duration: 350ms;
    }

    &_isClosed {
      animation-duration: 350ms;
    }
  }

  @include vp-tablet-up {
    padding: 0 $three-base-margin $three-base-margin $three-base-margin;
    margin: $three-base-margin;
  }
}

.headingContainer {
  height: 6rem;
  z-index: $z-index-three;
  position: sticky;
  top: 0;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 $two-base-margin;
  border-bottom: 0.1rem solid $grey1;
}

.heading {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  right: 0;
  margin: 0;
  transform: translate(0%, -50%);
}

.closeButton {
  cursor: pointer;
  outline: none;
  appearance: none;
  z-index: $z-index-one;
  padding: 0;
  background: $grey1;
  border-radius: 50%;
  border: none;
  top: $base-margin;
  right: $base-margin;
  height: 4rem;
  width: 4rem;
}

.cross {
  height: 100%;
  width: auto;
  fill: red;
}
