@import '~styles/mixins';
@import '~styles/colors';
@import '~styles/variables';

.container {
  @include entrypoint;
}

.hero {
  width: 100%;
  height: calc(100vh - #{$four-base-margin});
  position: relative;
}

.name {
  @include absolute-center;

  z-index: $z-index-two;
  color: $white;
}

.particles {
  position: absolute;
  z-index: $z-index-one;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #de6262;
  background: linear-gradient(270deg, #de6262, #ff9959);

  background-size: cover;
  background-repeat: no-repeat;
}
