@import '~styles/variables';
@import '~styles/colors';
@import '~styles/mixins';

.container {
  @include vp-tablet-up {
    background-color: $white;
    box-shadow: $box-shadow;
    top: 0;
    right: 0;
    z-index: $z-index-three;
    position: fixed;
    width: 100%;
  }
}

.content {
  @include content();

  position: relative;
  display: flex;
  align-items: center;

  @include vp-mobile-only {
    justify-content: space-evenly;
    align-items: center;
  }

  @include vp-tablet-up {
    height: $header-height;
    justify-content: space-between;
  }
}

/**
* MY FACE
*/
.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;

  @include vp-mobile-only {
    display: none;
  }

  @include vp-tablet-up {
    height: $header-height;
  }
}

.logo {
  margin: 0.5rem 0;
  cursor: pointer;
  height: 5rem;
  width: auto;
}

.mobileHeader {
  @include absolute-center;

  @include vp-tablet-up {
    display: none;
  }
}

/**
* NAVIGATION
*/
.navigation {
  display: flex;

  @include vp-mobile-only {
    box-shadow: $box-shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-three;
    background-color: $white;
  }
}

.list {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;

  @include breakpoint($md) {
    padding: 0 1rem;
  }
}

.link {
  text-decoration: none;

  font-size: $font-size-m;
  min-width: $four-base-margin;
  flex: 1;
  display: flex;
  padding: $base-margin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-grey;
  font-weight: 700;
  position: relative;
  height: $mobile-nav-height;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
  font-size: $font-size-s;

  &_isActive {
    color: $link-color;
    border-bottom: 3px solid $link-color;
  }

  @include vp-tablet-up {
    flex-direction: row;
    justify-content: center;
    height: $header-height;
    min-width: 100px;

    &:hover {
      background: $link-color;
      color: $white;
    }
  }
}
