@import '~styles/variables';
@import '~styles/colors';
@import '~styles/mixins';

.container {
  flex-shrink: 0;
  position: relative;
  background: $grey1;
  width: 100%;
}

.tiltContainer {
  background-color: $white;
  height: 30px;

  &_isStartPage {
    background: #25689e;
    // background: #1b68a1;
  }

  @include breakpoint($lg) {
    height: 60px;
  }
}

.tilt {
  height: 30px;
  width: 100%;
  // background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  fill: $grey1;

  @include breakpoint($lg) {
    height: 60px;
  }
}

.content {
  @include content;

  margin-top: 60px;
}

.row {
  @include flex-row;

  padding: $base-margin 0;
  @include breakpoint(1px, 767px) {
    justify-content: center;
  }
}

.column {
  @include breakpoint(1px, 767px) {
    @include flex-gtr-col(1, $base-margin);
    max-width: $text-width;

    &_contact {
      order: 2;
    }

    &_info {
      order: 1;
    }
  }

  @include flex-gtr-col(2, $base-margin);
}

/**
* Image and info
*/

.image {
  width: 100%;
  max-width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;

  @include breakpoint($md) {
    max-width: 180px;
  }
}
